@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #0b0f19;
  --card-bg: #111827;
  --card-border: #1f2937;
  --text-main: #f9fafb;
  --text-muted: #9ca3af;
  --primary: #3b82f6;
  --accent: #10b981;
}

body {
  background-color: var(--bg);
  color: var(--text-main);
}
